*{
	padding: 0;
	margin: 0;
}
body{
	font-family: SimSun;
}
/*************头部导航条样式**************/
#header{
   height: 50px;
   background-color: #FF69B4;
   position: relative;
   overflow: hidden;
   min-width: 980px;
}

#nav{
	position: relative;
	height: 80px;
	width: 980px;
	margin: auto;
}
#navbar{
	list-style: none;
	position: absolute;
	left: 0;
	bottom: 5px;
}
#navbar li{
	display: inline;
	font-size: 14px;
	margin-left: 28px;
}
.navlink{
	text-decoration: none;
	color: #FFFFFF;
}

#indexbigimg{
	position: relative;
	background-image: url(../image/datu.png);
	height: 587px;
	color: #000000;
	background-size:cover; 
}

/*****正文部分三列等高样式******/
#threeequalheight{
	overflow: hidden;
	width: 980px;
	margin: auto;
}
.equalheight{
	background-color: #FFFFFF;
	width: 300px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 10px 10000px 10px;
	margin-bottom: -10000px;
}
.inner{
	border-bottom: solid #FFFFFF 25px;/**文字距离底部25px**/
}
#rightsection{
	margin-right: 0;
}
.equalimg{
	display: block;
	margin-bottom: 15px;
}
.equalheight p{
	padding: 0 20px 0 20px;
	line-height: 170%;
	font-size: 12px;
	text-indent: 2em;
}

